{% extends 'product/base.html' %}

{% block content %}
    			<!--//top-header-nav---->
			<!----start-slider-script---->
			<script src="web/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>
			<!----//End-slider-script---->
			<!-- Slideshow 4 -->
			    <div  id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
                      {% for product in products %}
                        <li>
                          <img src="{{ product.image.url }}" alt="">
                          <div class="caption">
                            <div class="slide-text-info">
                                <h1>{{ product.title }}</h1>
                                <label>{{ product.brand }}</label>
                                <a class="slide-btn" href="
    {% if not user.is_authenticated %}{% url 'index' %}{% else %}{% url 'product:basket_add' product.id %}{% endif %}
"><span>{{ product.price }}$</span> <small>КУПИТЬ</small><label> </label></a>
                            </div>
                          </div>
                        </li>
                      {% endfor %}
			      </ul>
			    </div>
			    <div class="clearfix"> </div>
			<!----- //End-slider---->
			<!----content---->
				<div class="content">
					<div class="container">
				<!---top-row--->
				<div class="top-row">

                        {% for cat in category %}
                            <div class="col-xs-4">
                                <div class="top-row-col1 text-center">
                                    <h2>{{ cat.title }}</h2>
                                    <img class="r-img text-center" src="{{ cat.image.url }}" title="name" />
                                    <span></span>
                                    <h4>TOTAL</h4>
                                    <label>{{ cat.count_product }} товаров</label>
                                    <a class="r-list-w" href="{% url 'index' %}?category_id={{ cat.id }}">Выбрать</a>
                                </div>
                            </div>
                        {% endfor %}

					<div class="clearfix"> </div>
				</div>
				<!---top-row--->
				<div class="container">
				<!----speical-products---->
				<div class="special-products">
					<div class="s-products-head">
						<div class="s-products-head-left">
							<h3>SPECIAL <span>PRODUCTS</span></h3>
						</div>
						<div class="s-products-head-right">
							<a href="{% url 'product:store' %}"><span> </span>view all products</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!----special-products-grids---->
					<div class="special-products-grids">
                        {% for product in products %}
                            <div class="col-md-3 special-products-grid text-center">
                                <a class="brand-name" <img src="" title="name">{{ product.brand }}</a>
                                <a class="product-here" href="../../../static/web/single-page.html"><img src="{{ product.image.url }}" title="product-name" /></a>
                                <h4><a href="">{{ product.title }}</a></h4>
                                <a class="product-btn" href="
    {% if not user.is_authenticated %}{% url 'index' %}{% else %}{% url 'product:basket_add' product.id %}{% endif %}
"><span>{{ product.price }}$</span><small>Купить</small></a>
                            </div>
                        {% endfor %}
						<div class="clearfix"> </div>
					</div>
					<!---//special-products-grids---->
				</div>
				<!---//speical-products---->
				</div>
			<!----content---->
			<!----footer--->
			<div class="footer">
				<div class="container">
					<div class="col-md-3 footer-logo">
						<a href="index.html"><img src="web/images/flogo.png" title="brand-logo" /></a>
					</div>
					<div class="col-md-7 footer-links">
						<ul class="unstyled-list list-inline">
							<li><a href="#"> Faq</a> <span> </span></li>
							<li><a href="#"> Terms and Conditions</a> <span> </span></li>
							<li><a href="#"> Secure Payments</a> <span> </span></li>
							<li><a href="#"> Shipping</a> <span> </span></li>
							<li><a href="../../../static/web/contact.html"> Contact</a> </li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="col-md-2 footer-social">
						<ul class="unstyled-list list-inline">
							<li><a class="pin" href="#"><span> </span></a></li>
							<li><a class="twitter" href="#"><span> </span></a></li>
							<li><a class="facebook" href="#"><span> </span></a></li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			 </div>
			 <div class="clearfix"> </div>
			<!---//footer--->
			<!---copy-right--->
					<div class="copy-right">
						<div class="container">
							<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
							<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
							<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
						</div>
					</div>
			<!--//copy-right--->
		</div>
		<!----container---->
{% endblock %}

